.table{
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderless{
    border: none;
    margin-left: 500px;
    column-gap: 20px;
    text-decoration: none;
    line-height: 50px;
  }