.hatchback{
    margin-right: 500px;
}
.background{
    background: url(assets/arkaplan.jpg);
    height: 400vh;
    background-size: 80% 80%;
}
.hatchback{
    display: flex;
    justify-content: space-evenly;
    margin-right: 8px;
}
.hatchbacktext{
    margin-left: 250px;
    word-spacing: 450px;
}
.hatchbacktext a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
}
.model{
    display: flex;
}